.PasswordResetContainer {
  background-color: #1e4d66;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  margin-left: 25%;
  margin-top: 50px; 
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PasswordResetContainerLabel {
  font-family: inherit;
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}

.PasswordResetInputGroup {
  width: 80%;
  max-width: 400px;
  margin: 10px 0;
  border: none;
  border: none;
  padding: 5px 3px;
  box-sizing: border-box;
}

.PasswordResetInputGroup label {
  font-family: inherit;
  color: #cfcfcf;
  font-size: 1.0em;
  font-style: italic;
  font-weight: 500;
}

.PasswordResetInputGroup input {
  width: 100%;
  margin: 5px auto;
  border: 1px solid #efefef;
  background-color: white;
  color: rgba(0,0,0,0.8);
  text-align: center;
  font-size: 1.5em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.PasswordResetSubmitButton {
  background-color: white;
  display: inline-block;
  border: 1px solid #1e4d66;
  border-radius: 5px;
  font-size: 1.2em;
  color: #1e4d66;
  text-align: center;
  padding: 10px 0;
  width: 80%;
  max-width: 400px;
}

.PasswordResetSubmitButton:hover {
  background-color: #ff6b24;
  color: white;
  cursor: pointer;
}

.PasswordResetSubmitButton:disabled {
  cursor: not-allowed;
  background-color: #c3c3c3;
  border: 1px solid #c3c3c3;
  color: white;
}

.PasswordResetTogglePasswordLabel {
  padding: 0 10px 0 0;
}

.PasswordResetTogglePasswordLabel:hover {
  cursor: pointer;
}

@media (max-width: 499px) {
  .PasswordResetContainer {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 10px;
  }
}