@font-face {
  font-family: BebasNeue;
  src: url('../../../assets/fonts/BebasNeue Regular.otf');
}

@font-face {
  font-family: BebasNeueBold;
  font-weight: bold;
  src: url('../../../assets/fonts/BebasNeue Bold.otf');
}

.MobileNavItem {
  margin: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.MobileNavItem a {
  color: white;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  font-family: 'BebasNeueBold';
  font-size: 1.3em;
  padding: 10px 0;
  border-bottom: 4px solid #1e4d66;
}

.MobileNavItem a:hover,
.MobileNavItem a:active,
.MobileNavItem a.active {
  color: #ff6b24;
  background-color: white;
  border-bottom: 4px solid #ff6b24;
}