.Form {
  background-color: white;
  margin: 20px 0;
  padding: 5px 5px 0 5px;
}

.SubmitButton {
  background-color: white;
  display: inline-block;
  border: 1px solid #1e4d66;
  border-radius: 5px;
  font-size: 1.2em;
  color: #1e4d66;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.SubmitButton:hover {
  background-color: #1e4d66;
  color: white;
  cursor: pointer;
}

.SubmitButton:disabled {
  cursor: not-allowed;
  background-color: #c3c3c3;
  border: 1px solid #c3c3c3;
  color: white;
}

@media (max-width: 499px) {
  .SubmitButton {
    background-color: #1e4d66;
    color: white;
    cursor: pointer;
  }
}